{% extends 'base.html' %}
{% block title %} Home page {% endblock %}

{% block content %}

{% if errors %}
	<p>
		{{ errors }}
		</p>
{% endif %}
<body>
	<div class="formdata">
		<h1 align="center">Twitter Sentiment Analysis</h1>

    <form id="mainform" action = "{% url 'sentiments' %}" method = "POST" >{% csrf_token %}
      <div class="form-group">
        <label for="urllabel">Enter Post URL</label>
        <input type="text" class="form-control" id="url" name='url' placeholder="Enter Twitter post URL">
      </div>
      <div class="form-group">
        <label for="replaynumber">Number of replies</label>
        <input type="number" class="form-control" id="replies" name='replies' placeholder="Enter number of replies">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

	</div>
</body>

{% endblock %}
